.root {
  --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  --Livvic: "Livvic", cursive;
  --white: #ffffff;
}

.usercontainer {
  width: 100%;
  height: 100%;

  margin-bottom: 4rem;
}

.ubutn {
  /*
  width: 240px;
  border: 1px solid #3498db;
  color: aliceblue;
  background: var(--sky);
  margin-top: 6rem;
  margin-left: 5rem;
  font-size: 20px;
  font-family: "montserrat";
  padding: 8px 20px;
  */
  border: none;
  background: #bcd3ff;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  margin-top: 6rem;
  margin-left: 5rem;
  font-family: var(--Livvic);
  cursor: pointer;
}
.ubutn:hover {
  background: #00bfff;
  border: 1px solid #ffffff;
  color: var(#ffffff);
}

.heading1 {
  text-align: start;
  color: aliceblue;
  font-size: clamp(3.5rem, 5vw, 2rem);
  padding-left: 5rem;
  padding-top: 5rem;
}
.udesc {
  color: aliceblue;
  text-align: start;
  padding-top: 12rem;
  font-size: 20px;
}
.maincont {
  background-image: url("../images//usercov.jpg");
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  padding: 5rem;
}

@media screen and (max-width: 768px) {
  .maincont {
    grid-template-columns: 1fr;

    padding: 30px;
  }
  .heading1 {
    font-size: 50px;
    padding-left: 10px;
    padding-top: 10px;
  }
  .udesc {
    padding-top: 1rem;
    font-size: 18px;
  }
  .ubutn {
    margin-top: 2rem;
    margin-left: 10px;
  }
}
@media screen and (max-width: 1200px) {
  .maincont {
    grid-template-columns: 1fr;
    grid-template-rows: 0.75fr 1fr;
  }
}

/*.picwrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}*/
.useswrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 6rem;
  margin-top: 8rem;
}

@media screen and (max-width: 768px) {
  .useswrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.45fr;
    padding: 0 30px;
    margin-top: 6rem;
  }
}
.user1vec {
  position: relative;
  max-width: 700px;
}

@media screen and (max-width: 768px) {
  .user1vec {
    max-width: 300px;
  }
}

.howcontainer {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  padding: 0 6rem;
  grid-gap: 20px;
}
.uhowData {
  margin-top: 1rem;
  grid-gap: 10px;
}
@media screen and (max-width: 768px) {
  .howcontainer {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }
}

.coln1 {
  display: grid;
  grid-template-rows: 0.3fr 1fr;
}

.coln2 {
  display: grid;
  justify-content: center;
}

.slider {
  margin-top: 5rem;
  overflow: hidden;
  position: relative;
  width: 90%;
}
.images {
  display: flex;
  width: 100%;
}
.images img {
  transition: all 0.15s ease;
  width: 100%;
}
.images input {
  display: none;
}
.dots {
  display: flex;
  justify-content: center;
  margin: 5px;
}
.dots label {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: solid #222222 3px;
  cursor: pointer;
  transition: all 0.15s ease;
  margin: 5px;
}
.dots label:hover {
  background: #3b3b3b;
}

.m1 {
  position: relative;
  max-width: 500px;
  transition: 2s;
}
#img1:checked ~ .first {
  margin-left: 0;
}
#img2:checked ~ .first {
  margin-left: -100%;
}
#img3:checked ~ .first {
  margin-left: -200%;
}
#img4:checked ~ .first {
  margin-left: -300%;
}

.coln2 h4 {
  color: #3498db;
}
@media screen and (max-width: 768px) {
  .coln2 {
    grid-template-columns: 1fr;
    padding-left: 30px;
  }
}
.col1inside {
  padding-left: 2rem;
  margin-top: -1rem;
  line-height: 30px;
}

.user2pic {
  position: relative;
  max-width: 500px;
}
@media screen and (max-width: 768px) {
  .user1pic {
    position: relative;
    max-width: 300px;
  }
  .user2pic {
    position: relative;
    max-width: 300px;
  }
  .col1inside {
    padding-left: 2rem;
    padding-right: 1rem;
    margin-top: -6rem;
    line-height: 30px;
  }
}

.Desch {
  color: #3b3b3b;
  font-weight: 300;
}
.Titleh {
  font-size: 22px;
}
