.Statscontainer {
  width: 100%;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6rem;
}

.heading {
  text-align: start;
  font-size: clamp(1.5rem, 5vw, 2rem);
  margin-bottom: 3rem;
  padding: 0 2rem;
}

.Wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
@media screen and (max-width: 768px) {
  .Wrapper {
    grid-template-columns: 1fr;
  }
  .Statscontainer {
    padding: 30px;
    margin-top: 12rem;
  }
}
@media screen and (max-width: 500px) {
  .Wrapper {
    grid-template-columns: 1fr;
  }
}

.StatsBox {
  padding: 2rem;
}
.Icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.Title {
  font-size: clamp(1.25rem, 2.5vw, 1.5rem);
  margin-bottom: 0.5rem;
}
