.Testmonialscontainer {
  width: 100%;
  height: 100%;
  padding: 5rem;
  margin-bottom: 2rem;
}

.TopLine {
  color: #077bf1;
  font-size: 1rem;
  padding-left: 2rem;
  margin-bottom: 0.75rem;
}

.Description {
  text-align: start;
  padding-left: 2rem;
  margin-bottom: 4rem;
  font-size: clamp(1.5rem, 5vw, 2rem);
  font-weight: bold;
}

.ContentWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 2rem;
}
@media screen and (max-width: 768px) {
  .ContentWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.45fr;
  }
  .Testmonialscontainer {
    width: 100%;
    height: 100%;
    padding: 30px;
    margin-bottom: 1rem;
  }
}

.hoscolumn1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.Testimonial {
  padding-top: 1rem;
  padding-right: 2rem;
}

.Testimonial h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-style: italic;
}
.Testimonial p {
  color: #3b3b3b;
}
.ColumnTwo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  grid-gap: 5px;
}
@media screen and (max-width: 500px) {
  .ColumnTwo {
    grid-template-columns: 1fr;
  }
}

.Images {
  border-radius: 10px;
  height: 100%;
}
